.btn-compositions {
    border: none;
    outline: none;
    padding: 10px 16px;
    color: purple;
    cursor: pointer;
    font-size: 18px;
}

.bt-compsitions:hover {
    background-color: purple;
}

.btn-compositions:active {
    background-color: #666;
    color: purple;
}

button.comp-btn {
    color: purple;
}

.compcont {
    height: 610px;
}