.home-compositions {
    padding: 2rem 0;
    background: var(--white);
    margin: 0;
}

.home-compositions h2 {
    font-size:24px;
}

.section-title-compositions {
    text-align: center;
    margin-bottom: 1rem;
}

.section-title h2 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--purple)
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: var(--white);
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--fucsia);
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin: 35px 100px 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--white);
    background-color: var(--blue);
}

.nav-item-compositions {
    margin: 0;
    padding: 1rem;
}

.nav-link-compositions {
    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: 0.25rem;
    color: var(--blue);
    transition: all 0.4s ease;
    padding: 0.5rem 1rem;
}

.nav-link-compositions.active {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 0.25rem;
    color: var(--white);
    padding: 0.5rem 1rem;
}

.nav-link-compositions:hover {
    background: var(--fucsia);
    border: 2px solid var(--fucsia);
    color: var(--white);
}

.btn-compositions {
    border: none;
    outline: none;
    padding: 10px 16px;
    color: purple;
    cursor: pointer;
    font-size: 18px;
}

.btn-compsitions:hover {
    background-color: purple;
}

.btn-compositions:active {
    background-color: #666;
    color: purple;
}

@media (max-width:990px) {
    .section-title p {
        margin: 10px
    }
}
