.info {
    border-top: 3px solid var(--blue);
    border-bottom: 3px solid var(--blue);
    padding: 30px;
    background: var(--white);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
  
.contact .info i {
    font-size: 20px;
    color: var(--blue);
    height:44px;
    width:44px;
    float: left;
    margin:15px 0;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
  
.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--purple);
}
  
.contact .info .email p {
    padding-top: 5px;
}
  
.contact .info .social-links {
    padding-left: 60px;
}
  
.contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--grey);
    color: var(--white);
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
}
  
.contact .info .social-links a:hover {
    background: var(--blue);
    color: var(--white);
}
  
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: var(--blue);
    color: var(--white);
}
  
.contact .php-email-form {
    width: 100%;
    border-top: 3px solid var(--blue);
    border-bottom: 3px solid var(--blue);
    padding: 30px;
    background: var(--white);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
  
.contact .php-email-form .form-group {
    padding-bottom: 8px;
}
  
.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}
  
.contact .php-email-form .error-message {
    display: none;
    color: var(--white);
    background: var(--fucsia);
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}
  
.contact .php-email-form .sent-message {
    display: none;
    color: var(--white);
    background: var(--yellow);
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
  
.contact .php-email-form .loading {
    display: none;
    background: var(--white);
    text-align: center;
    padding: 15px;
}
  
.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--yellow);
    border-top-color: var(--white);
    animation: animate-loading 1s linear infinite;
}
  
.contact .php-email-form .form-group {
    margin-bottom: 20px;
}
  
.contact .php-email-form label {
    padding-bottom: 8px;
}
  
.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}
  
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--blue);
}
  
.contact .php-email-form input {
    height: 44px;
}
  
.contact .php-email-form textarea {
    padding: 10px 12px;
}
  
.btn-send-contact-form {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 1s;
    color: var(--fucsia);
    border: 1px solid var(--blue);
    background: transparent;
}

.btn-send-contact-form:hover {
    background: var(--fucsia);
    color: var(--white);
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  
.contact-img-container {
    width:100%;
    overflow:hidden;
    object-position: center;
}

.contact-img {
    position:relative;
    left:-150px;
}