#wrapper-404 {
  zoom:1.5;
  height: 100%;
  background: radial-gradient(#11581E, #041607), url("../img/error-404-bg-1.gif") no-repeat;
  background-size: cover;
  /* text-shadow:
    0 0 1ex rgba(95, 57, 141, 1),
    0 0 2px rgba(255, 255, 255, 0.8); */
  /* min-height: 100%; */
  /* box-sizing: border-box; */
}

.noise {
  /* pointer-events: none; */
  position: absolute;
  /* width: 100%;
  height: 100%; */
  background: url("../img/error-404-bg-1.gif") no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .02;
}

.overlay {
  /* pointer-events: none; */
  position: absolute;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 0;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      transparent 0%,
      rgba(32, 128, 32, 0.2) 2%,
      rgba(32, 128, 32, 0.8) 3%,
      rgba(32, 128, 32, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
  0%        { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}

.terminal {
  position: absolute;
  /* height: 100%;
  width: 1000px; */
  max-width: 100%;
  padding: 4rem;
}

.output {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.error-404-equal {
  color: rgba(128, 255, 128, 0.8);
}

.output::before {
  content: "> ";
  margin-left:1rem;
}

.h1-404 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1rem;
  font-size: 1rem;
}

.errorcode {
  color: white;
}

.errorcode::before {
  content: "export const ";
  color:blue
}

.react-import::before {
    content: " import ";
    color:blue;
  
}

.error-404-blue {
    color: blue;
}

.error-404-red {
    color: red;
}

.error-404-yellow {
    color: yellow;
}

.error-404-pink {
    color: pink;
}

.error-404-invisible {
  visibility: hidden;
}

.error-404-inline-block {
  display: inline-block;
}

.error-404-indent-1 {
  text-indent: 1rem;
}

.error-404-indent-2 {
  text-indent: 2rem;
}

.error-404-indent-3 {
  text-indent: 3rem;
}

.link-at-404 {
  font-family: 'Courier New', Courier, monospace !important;
}

.link-at-404:hover {
  text-decoration:underline;
}