#home {
    background: var(--blue);
}

#home-header {
    transition: all 0.5s;
    z-index: 99;
    zoom: 0.95;
    background: var(--purple);
    flex: 0 0 auto;
}

#home-header #logo .logo {
    margin: 0;
}

#home-header #logo a h1 span {
    font-style: italic;
    color: var(--white);
    font-size: 42px;
    top: 3px;
    left: 7px;
}

#home-header #logo a img {
    max-height: 40px;
    z-index: 1;
}

.section-title-home {
    text-align: center;
}

.section-title-home h2 {
    /* font-size: 32px; */
    /* font-weight: bold; */
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--purple)
}

.section-title-home h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title-home h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--fucsia);
    bottom: 0;
    left: calc(50% - 20px);
}

/* Sidebar */

aside {
    width: 280px;
    height:100%;
    position:absolute;
    padding: 65px 0 0 1rem;
    background: var(--blue);
    flex: 0 0 auto;
}

#sidebar-username {
    font-size:24px;
    margin-top: 15px;
    margin-left: 10px;
    color: var(--white)
}

.sidebar-nav-link {
    padding:1.35rem 0;
}

.main-wrapper {
    position:relative;
    margin-left:280px;
}

#home-process {
    padding-top:25px;
    height:100%;
}

#home-process h2 {
    font-size:24px;
}

.btn-create-home {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 1s;
    margin-top: 1rem;
    color: var(--fucsia);
    border: 1px solid var(--blue);
    background: transparent;
}

.btn-create-home:hover {
    background: var(--fucsia);
    color: var(--white);
}

/* Media Queries */

@media (max-width: 767px) {
    aside {
     display:none}

}