#infopost-main-wrapper {
    background-image: url("../img/infopost-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px 0;
    position: relative;    
}

#infopost-wrapper {
    width:60%;
    background: var(--white);
    border-radius: 10px;
    height: auto;
    padding:1.5rem;
}

#infopost-form {
    width:100%;
}

.image-uploader-card {
    border: none;
}

.infopost-label {
    font-weight: 600;
}

.btn-infopost {
    width:25%;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 50px;
    transition: 1s;
    color: var(--fucsia);
    border: 1px solid var(--blue);
    background: transparent;
}

.btn-infopost:hover {
    background: var(--fucsia);
    color: var(--white);
}

.form-control-image-uploader {
    width:90%;
    padding: 0.5rem 1em 0.5rem 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-infopost {
    margin: 5px 0;
    padding: 5px;
    width: 90%;
    font-weight:600;
}

::-webkit-input-placeholder {
    color: gray;
    font-weight: 300;
}

.btn-delete {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 1s;
    margin-top: 3rem;
    color: var(--blue);
    border: 1px solid var(--fucsia);
    background: transparent;
}

.btn-delete:hover {
    background: var(--blue);
    color: var(--white);
}

/* input,
select .elegir {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 2px 0;
    color: #222;
    margin-bottom: 15px;
    font-family: 'Roboto Slab';
} */

input:focus,
select:focus {
    color: #222 !important;
    border-bottom: 2px solid #4966b1 !important;
}




input[type=checkbox]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(white, white) !important;
    background-image: -ms-linear-gradient(white, white) !important;
    background-image: -o-linear-gradient(white, white) !important;
    background-image: -webkit-linear-gradient(white, white) !important;
    background-image: linear-gradient(white, white) !important;
}

input[type=checkbox]:not(old):checked+label>span:before {
    content: '\f26b' !important;
    display: block !important;
    color: #222 !important;
    font-size: 11px !important;
    line-height: 1.2 !important;
    text-align: center !important;
    font-family: 'Material-Design-Iconic-Font' !important;
    font-weight: bold !important;
}

.label-agree-term {
    color: #999 !important;
}

.term-service {
    color: #222 !important;
}

.crear {
    width: auto;
    background: #4966b1;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 1px 0px rgba(73, 102, 177, 0.7);
    -moz-box-shadow: 0px 1px 1px 0px rgba(73, 102, 177, 0.7);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(73, 102, 177, 0.7);
    -o-box-shadow: 0px 1px 1px 0px rgba(73, 102, 177, 0.7);
    -ms-box-shadow: 0px 1px 1px 0px rgba(73, 102, 177, 0.7);
}

.crear:hover {
    background: #3a518d;
}




#confirm_type {
    margin-bottom: 15px;
}

.form-group-2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-check {
    margin-bottom: 15px;
}

.select-list {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100px;

}



#confirm_type {
    z-index: 99;
}

.SelectorFormalidad {
    height: 30px;

}

.inputLogo {
    width: 400px;
}

.upload-img-label {
    width: 100% !important;

    border: none !important;
    padding: 0 !important;
    color: #585757 !important;

    font-family: 'Roboto Slab' !important;
}

input:focus,
select:focus {
    color: #222 !important;
    border-bottom: 2px solid #4966b1 !important;
}

.inputKW {
    width: 120px;
}



@media screen and (max-width: 1024px) {
    .container {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 30px);
        max-width: 100%;
    }
}



/*# sourceMappingURL=style.css.map */