/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

.header {
    transition: all 0.5s;
    z-index: 999;
    zoom: 0.95;
}

.logo-link h1 {
    margin: 0;
    font-style: italic;
    color: var(--white);
    font-size: 42px;
    top: 3px;
    left: 7px;
}

.logo-link img {
    max-height: 40px;
    z-index: 1;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.nav-item {
    margin-left: 3rem;
    padding: 1rem 0;
}

.nav-link {
    color: var(--white);
    letter-spacing: 1px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: 200;
}

.nav-link:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--white);
    width: 0;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.nav-link:hover:after {
    width: 100%;
}

.nav-link:hover {
    color: var(--white);
}

.nav-link:active {
    background: transparent;
    border: none;
}

.nav-link:focus {
    background: transparent;
    border: none;
    color: var(--white);
    box-shadow: none;
}

.nav-link:focus-visible {
    background: transparent;
    border: none;
}

.getstarted,
.getstarted:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: var(--white);
    border: 1px solid var(--white);
    background: transparent;
}

.getstarted:hover,
.getstarted:focus:hover {
    background: var(--fucsia);
    transition: 1s;
}

@media (max-width: 991px) {
    .navbar {
        background: var(--purple);
    }

    .navbar-toggler {
        padding: 0;
    }

    .navbar-toggler-icon {
        height: auto;
        color: var(--white);
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .nav-item {
        padding: 1rem 0 1rem 0;
        margin-left: 0;
    }

    .nav-link {
        display:inline;
    }

    .navbar-nav .getstarted {
        text-align: center;
        margin-right: auto;
    }
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/

.hero {
    position: relative;
    height: 85vh;
    background: url("../img/hero-img.jpeg") fixed -100px 0;
    background-size: cover;
    margin-top: -70px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(95, 57, 141, 0.5);
}

.hero .container {
    position: relative;
}

.hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: var(--white);
    text-align: right;
}

.hero h2 {
    color: var(--yellow);
    margin-bottom: 50px;
    font-size: 24px;
    text-align: right;
}

.btn-get-started {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 1s;
    margin: 25px 0 0 0;
    color: var(--white);
    border: 1px solid var(--white);
    background: transparent;
}

.btn-get-started:hover {
    background: var(--fucsia);
    color: var(--white);
}

.btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 25px 0 0 25px;
    color: var(--white);
    line-height: 1;
    background: transparent;
    border:none;
}

.btn-watch-video:hover {
    background: transparent;
    border:none;
}

.btn-watch-video:focus {
    background: transparent;
    border:none;
}

.btn-watch-video:focus-visible {
    background: transparent;
    border:none;
}

.btn-watch-video:active {
    background: transparent;
    border:none;
}

.btn-close-video {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 1s;
    margin: 10px 0 0 0;
    color: var(--white);
    border: 1px solid var(--white);
    background: var(--blue);
}

.btn-close-video:hover {
    background: var(--fucsia);
    color: var(--white);
}

.about {
    padding: 100px 0;
    background: var(--white)
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 900px;
    }
}

.hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    .hero {
        height: 100vh;
        text-align: center;
    }

    .hero .animated {
        animation: none;
    }

    .hero .hero-img {
        text-align: center;
    }

    .hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    .hero .hero-img img {
        width: 80%;
    }

    .hero .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}