.final-composition-wrapper {
    background: azure;
    box-shadow: 5px 0px rgba(0, 0, 0, 0.3);
    height:100vh;
}

.final-composition-wrapper-img {
    display:flex;
    justify-content: center;
    transform: scale(0.9);
    zoom:0.75;
}

.feedback-happy-talk-lead {
    padding: 1rem 0 0 1rem;
}

.feedback-happy-talk{
    padding: 0 0 0 1rem;
}