.fotoAvatar {
    border-radius: 50%;
    height: 120px;
    object-fit: cover;
    object-position: center;
    width: 120px;
    position: absolute;
    top: 0px;
    left: 490px;
}

.BotonP1 {
    position: relative;

    left: -50px;
}



.InputArchivos {
    width: 580px;

}



.TituloProfile {
    position: absolute;
    top: 200px;
    left: 530px;
}

.ContenedorProfile {
    position: relative;


}

.InputProfile {
    width: 700px;
}



.ContenedorProfileG {
    width: 1240px;
    height: 720px;
    position: relative;

    left: 68px;
}


.formularioProfile {
    position: absolute;
    top: 150px;
    left: 280px;
    width: 700px;
}

#home-profile {
    /* margin-left:20%; */
    flex: 1 0 auto;
    overflow-y: auto;
}