.signup-icon {
    width: 30px;
}

.btn-signup {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 1s;
    display:inline-block;
    margin: 2rem auto;
    color: var(--fucsia);
    border: 1px solid var(--blue);
    background: transparent;
}

.btn-signup:hover {
    background: var(--fucsia);
    color: var(--white);
}