#shadow-wrapper {
    background: var(--white);
    overflow: hidden;
    padding-bottom: 50px;
}

#signup {
    height:100vh;
    box-shadow: 0px 10px 25px grey;
}

#signup-left-wrapper {
    display:flex;
    flex-direction: column;
    align-items:middle;
    padding:75px 140px;
}

#signup-right-wrapper {
    display:flex;
align-items: center;
}

.signup-warning {
    background: var(--fucsia);
    opacity:0.65;
    font-size:12px;
}

.signup-warning a {
    color: var(--white);
    text-decoration: underline;
    font-weight:800;
}

.tos-acceptance-text {
    font-size: 12px;
}

.btn-signup {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 1s;
    display:inline-block;
    margin: 2rem auto;
    color: var(--fucsia);
    border: 1px solid var(--blue);
    background: transparent;
}

.btn-signup:hover {
    background: var(--fucsia);
    color: var(--white);
}

.img-signup {
    zoom:1.25;
    background-image: url("../img/sign-up.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0px 100%;
}