#vsft {
    position: relative;
    width: 450px;
    height: 800px;
    transform: scale(0.9);
    margin-top:-25px;
    letter-spacing: 3px;
}

#vsft-main-wrapper {
    height:60%;
}

#vsft-top-margin-accent {
    position: absolute;
    left: 100px;
    height: 20px;
    width: 200px;
}

#vsft-offer-tag {
    position: absolute; /* Importante */
    width: auto;
    height: auto;
    min-width:100px;
    min-height:100px;
    padding:10px;
    margin: 25px 15px 0 0;
    border-radius: 50%;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: bold;
}

#vsft-identity {
    margin: 0 0 8px 70px;
}

#vsft-logo-tag {
    position: absolute; /* Importante */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top:350px;
    left:25px;
    z-index: 999;
    overflow: hidden;
}

#vsft-logo-tag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

#vsft-h1 {
    position: absolute;
    top: 510px;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 0 1rem; /* Importante */
}

#vsft-photo-wrapper {
    position: relative;
    width: auto;
    height: 450px;
    overflow: hidden;
}
  
#vsft-photo-wrapper img {
    position: absolute;
    right: -150px;
    top: 10px;
    max-width: none;
    max-height: none;
    z-index:998;
    overflow: hidden;
}
  

#vsft-right-margin {
    position: absolute;
    top:155px;
    right: -100px;
    width: 400px;
    height: 350px;
    display: flex;
    align-items: end;
    /* justify-content: center; */
    padding-right: 10px;
    font-size: 2rem;
}

#vsft-secondary-wrapper {
    margin-top: 75px;
    height: 20%;
}

#vsft-secondary-text {
    width: 90%;
    margin: 85px 0 20px 15px;
}

#vsft-cta-container {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    text-align: center;
    font-size:1.5rem;
}

#vsft-cta {
    height:60px;
    position:relative;
}

#vsft-cta span {
    top:8px;
}

#vsft-cta p:first-child {
    padding: 15px 30px;    
}

#vsft-cta p:first-child span {
    font-weight: bold;
}

#vsft-cta p:nth-child(2) {
    margin-top:-10px;
}