#vsft {
    position: relative;
    margin: 25px auto;
    width: 450px;
    height: 800px;
}

#vsft-main-wrapper {
    height:60%;
}

#vsft-top-margin-accent {
    position: absolute;
    left: 100px;
    height: 20px;
    width: 200px;
}

#vsft-offer-tag {
    position: absolute; /* Importante */
    width: 100px;
    height: 100px;
    margin: 25px 15px 0 0;
    border-radius: 50%;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

#vsft-logo-tag {
    position: absolute; /* Importante */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 0;
    top:300px;
    left:50px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    overflow:hidden;
}

#vsft-logo-tag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#vsft-h1 {
    position: absolute;
    top: 510px;
    font-size: 32px;
    font-weight: 900;
    margin: 0 0 0 1rem; /* Importante */
}

#vsft-photo-wrapper img {
    position: absolute;
    right:50px;
    width:385px;
    height:450px;
    object-fit:cover;
    object-position: 25%;
    top:10px;
    z-index:998;
}

#vsft-right-margin {
    position: absolute;
    top: 125px;
    right: -25px;
    width: 400px;
    height: 350px;
    transform: rotate(270deg);
    display: flex;
    align-items: end;
    justify-content: center;
    padding-right: 10px;
    font-size: 2rem;
}

#vsft-secondary-wrapper {
    margin-top: 75px;
    height: 20%;
}

#vsft-secondary-text {
    width: 90%;
    margin-left: 15px;
}

#vsft-cta-container {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    text-align: center;
    font-size:1.5rem;
}

#vsft-cta {
    padding: 1rem;
}

#vsft-cta p:first-child {
    padding: 15px 30px;
    background: var(--resolution-blue);
    color: var(--magnolia)
}

#vsft-cta p:first-child span {
    font-weight: bold;
}

#vsft-cta p:nth-child(2) {
    margin-top:-10px;
}