#vsft-wrapper {
    --indigo-black: #28262C;
    --tropical-indigo: #998FC7;
    --periwinkle: #D4C2FC;
    --magnolia: #F9F5FF;
    --resolution-blue: #14248A;
}

#vsft {
    position: relative;
    margin: 25px auto;
    width: 450px;
    height: 800px;
    background: var(--magnolia);
}

#vsft-main-wrapper {
    height:60%;
    background: var(--periwinkle)
}

#vsft-top-margin-accent {
    position: absolute;
    left: 100px;
    height: 20px;
    width: 200px;
    background: var(--tropical-indigo)
}

#vsft-offer-tag {
    position: absolute; /* Importante */
    width: 150px;
    height: 150px;
    margin: 25px 15px 0 0;
    border-radius: 50%;
    background: var(--resolution-blue);
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--magnolia);
    font-size: 2rem;
    font-weight: bold;
}

#vsft-h1 {
    position: absolute;
    top: 510px;
    font-size: 32px;
    font-weight: 900;
    color: var(--resolution-blue);
    margin: 0 0 0 1rem; /* Importante */
}

#vsft-photo-wrapper img {
    position: absolute;
    right:50px;
    width:385px;
    height:450px;
    object-fit:cover;
    object-position: 25%;
    top:10px;
    z-index:998;
}

#vsft-right-margin {
    position: absolute;
    top: 125px;
    right: -25px;
    width: 400px;
    height: 350px;
    background: #998FC7;
    transform: rotate(270deg);
    display: flex;
    align-items: end;
    justify-content: center;
    padding-right: 10px;
    color: var(--magnolia);
    font-size: 2rem;
}

#vsft-secondary-wrapper {
    margin-top: 75px;
    height: 20%;
    background: var(--magnolia);
}

#vsft-secondary-text {
    width: 90%;
    margin-left: 15px;
    color: var(--indigo-black);
}

#vsft-cta {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    text-align: center;
}

#vsft-cta p:first-child {
    padding: 15px 30px;
    background: var(--resolution-blue);
    color: var(--magnolia)
}

#vsft-cta p:first-child span {
    font-weight: bold;
}

#vsft-cta p:nth-child(2) {
    margin-top:-10px;
}